<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Detailed Information</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <h1>Employee Details </h1>
    <ul>
        <% if (employee) {%>
        <li>Name: <%= employee.name %></li>
        <li>Position: <%= employee.position %></li>
        <li>Start Time: <%= employee.startTime %></li>
        <li>End Time: <%= employee.endTime %></li>
        <%} else {%>
        <li>Error: <%= error %></li>
        <%}%>
    </ul>
</body>
<script>
</script>
</html>